@import "tailwindcss";
@import "@nuxt/ui";

/* --- Couleurs projet -------------------------------------------------- */
:root {
    /* alias utilisés par Nuxt UI et par Tailwind (`bg-primary`, `text-primary`…) */
    --ui-primary: #A491D3;
    /* violet doux                    */
    --ui-secondary: #818aa3;
    /* gris bleuté                    */
    --ui-tertiary: #c5dca0;
    /* vert pastel                    */

    --ui-info: #0EA5E9;
    /* bleu ciel   */
    --ui-success: #22C55E;
    /* vert        */
    --ui-warning: #FACC15;
    /* jaune       */
    --ui-error: #EF4444;
    /* rouge       */
    --ui-neutral: #64748B;
    /* gris ardoise*/
}

.dark {
    --ui-primary: #C3B4EC;
    --ui-secondary: #9AA4C1;
    --ui-tertiary: #D9E7B8;

    --ui-info: #38BDF8;
    --ui-success: #4ADE80;
    --ui-warning: #FDE047;
    --ui-error: #F87171;
    --ui-neutral: #CBD5E1;
}